:root {
    --margin: 270px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
    text-align: center;
    margin-left: var(--margin);
    background-color: #282c34;  
    overflow-x: hidden;
}


.collapse.in { min-height: 50px;border: 1px solid blue; }

.valeria-navbar {
    color: #282c34 !important;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ededed;
    transition: 1s;
}

.copyright {
    display: none;
}

@media only screen and (max-width: 950px) {
    .front-page-body {
      display: none;
    }

    .valeria-navbar {
        width: 100% !important;
        position: relative;
    }

    body {
        overflow: visible;
        margin: 0px;
        background-color: #ededed;
    }

    .copyright {
        display: block;
    }

  }

.valeria-navbar > p, div, ol, a {
    color: #282c34;
}

.themed-background-color {
    background-color: #ededed;
}

.valeria-links, .valeria-links:hover {
    text-decoration: none;
    color: #282c34;
}

.dark-font {
    color: #282c34 !important;
}

.light-font {
    color: #ededed !important;
}

.handwriting-font {
    font-family: 'Font Name', Neucha;
}


.green p, .green li, .green a {
    color: #727a46;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

p {
    text-align: left;
    margin: 0px;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 1rem;
}

p.card-text {
    margin-top: 1rem;
}

.card {
    margin:2rem;
    width: 850px;
}


.artpage > div, .card-title {
    color: #727a46;
    font-size: 30px ;
    padding: 1rem;
}

li {
    list-style-image: url('./Images/arrow.png');
}

div.row {
    padding: 0.5rem;
}

.image-animation {
    width: 30rem !important;
    height: 30rem !important;
    z-index: 1;
    position: fixed;
 
}